/* importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* variables de couleur */
:root {
    --color-controls-bas: #0077B6;
    --color-controls-haut: #0077B6;
    --color-contour-noir: rgba(0, 0, 0, 0.25);
    --color-primaire1: #00B4D8;
    --color-primaire2: #0077B6;
    --color-timer: #5c3d2f;
    --color-shadow-player: rgba(0, 0, 0, 0.5);
    --color-background-card: #fff;
    --color-noms: #623f25;
}

/* proprietes universelles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* proprietes de la page */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background: #fff;
    user-select: none;
    padding-block: 10px;
}

/* icones */
i {
    cursor: pointer;
    --base-font-size: 30px;
    color: var(--color-controls-haut);
}

/* player audio */
.audio_player {
    width: 80%;
    max-width: 430px;
    min-width: 250px;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px var(--color-shadow-player);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: url(images/image_test.png); */
    background-position: -185px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* effet flou fond du player audio */
.audio_player::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    z-index: 2;
    background-image: inherit;
    background-repeat: no-repeat;
    background-position: -185px;
    background-size: cover;
    filter: blur(5px);
}

/* 2 premiers containers */
.container_cover, .container_player {
    width: 100%;
    padding: 21px 30px;
    border-radius: 20px;
    margin-bottom: 32px;
    min-width: 200px;
    display: block;
    opacity: 0;
    z-index: 2;
}

.container_cover img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(0 0 5px black);
    -webkit-user-drag: none;
    min-width: 130px;
}

/* noms */
.name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.name h1 {
    font-size: clamp(19px, 5vw, 30px);
    margin-inline: 5px;
    pointer-events: none;
    background: linear-gradient(90deg, var(--color-primaire1) 0%, var(--color-primaire2) 75%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 5px var(--color-shadow-player); */
    filter: drop-shadow(0 0 5px black);
    letter-spacing: .5px;
    font-family: 'Lilita One';
    font-weight: 500;
}

/* bouttons */
.controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls i {
    margin-inline: 10px;
    text-shadow: 0 0 5px var(--color-shadow-player);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .play_pause i {
    border-radius: 50px;
    box-shadow: 0 0 15px var(--color-contour-noir);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(204, 204, 204, 0.2);
}

/* bar de progression */
.progress_bar {
    width: 100%;
    min-width: 130px;
    height: 9px;
    border-radius: 30px;
    background: #f0f0f0;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.progress_bar .bar {
    width: 0;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--color-primaire1) 0%, var(--color-primaire2) 100%);
    position: relative;
    z-index: 5;
}

.progress_bar .bar::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background: inherit;
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .3s cubic-bezier(.19,-0.01,.63,.99);
}

.progress_bar .bar::after {
    content:"";
    position: absolute;
    inset: 1px;
    z-index: 4;
    background: linear-gradient(90deg, var(--color-primaire1) 0%, var(--color-primaire2) 100%);
    filter: blur(5px);
}

.progress_bar .bar:hover::before {
    opacity: 1;
}

/* timers */
.progress_bar .timer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

.progress_bar .timer span {
    font-size: clamp(11.5px, 2vw, 13.5px);
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-weight: 500;
}

/* troisieme container */
.container_buttons {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container_buttons span {
    border-radius: 20px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    --base-font-size: 30px;
    color: var(--color-controls-bas);
    transition: color .3s ease;
    text-shadow: 0 0 5px var(--color-shadow-player);
    color: rgba(255, 255, 255, 0.5);
    opacity: 0;
}

.container_buttons span:first-child, span:nth-child(3) {
    width: 62px;
    height: 62px;
}

.container_buttons span:nth-child(2) {
    --base-font-size: 35px;
    margin-inline: 50px;
}

/* icone favoris cliquee */
span.favorite_checked {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: #ff0000;
}

/* survole des bouttons */
i:hover, span:hover {
    font-size: calc(1.35 * var(--base-font-size));
    transition: font-size .2s ease-in-out;
}

/* fin survole des bouttons */
i:not(:hover), span:not(:hover) {
    font-size: var(--base-font-size);
    transition: font-size .2s ease;
}

/* style des containers */
.container_cover, .container_player, .music_list, .container_buttons span {
    z-index: 3;
    box-shadow: 0 6px 15px var(--color-contour-noir);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* liste de musique */
.music_list {
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    z-index: 8;
    border-radius: inherit;
    padding: 21px 30px;
    transition: all 0.3s ease-out;
}

.music_list .top, .music_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music_list .top {
    margin-bottom: 10px;
}

.music_list .top .top_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-shadow: 0 0 5px var(--color-shadow-player);
    color: var(--color-primaire2);
}

.music_list .top .top_left span:nth-child(1) {
    font-size: 30px;
    pointer-events: none;
}

.music_list .top .top_left span:nth-child(2) {
    font-size: clamp(19px, 3vw, 25px);
    font-family: 'Lilita One';
}

.music_list .top .top_left span {
    margin-right: 15px;
}

.music_list .top span#close {
    cursor: pointer;
    font-size: 30px;
    text-shadow: 0 0 5px var(--color-shadow-player);
    color: rgba(255, 255, 255, 0.5);
}

.music_list ul {
    max-height: 224px;
    overflow-y: auto;
}

.music_list ul::-webkit-scrollbar {
    width: 0;
}

.music_list ul li {
    list-style: none;
    padding-bottom: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: clamp(17px, 2vw, 18px);
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins';
    font-weight: 500;
    text-shadow: 0 0 5px var(--color-shadow-player);
    transition: color .1s ease;
    position: relative;
}

.music_list ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.music_list ul li:not(:last-child)::before {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--color-primaire2);
}

.music_list ul li:not(.playing):hover {
    color: rgba(255, 255, 255, 0.7);
}

.music_list li .row p {
    opacity: .85;
}

.music_list li .row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.music_list li .row2 span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.music_list li .row2 span:nth-child(2) {
    width: auto;
    pointer-events: auto;
    cursor: pointer;
    font-size: 30px;
    text-shadow: 0 0 5px var(--color-shadow-player);
}

.music_list li span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* liste de musique ouverte */
.music_list.show_music {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

/* musique jouee */
ul li.playing {
    color: var(--color-background-card);
    pointer-events: none;
}

/* animation des containers au chargement de la page */
@keyframes fadeIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* attribution de l'animation */
.container_cover {
    animation: fadeIn 1.3s .2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.container_player {
    animation: fadeIn 1.3s .6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.container_buttons span {
    animation: fadeIn 1.3s 1.1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/* cache le bas quand la liste de musique est ouverte */
.hide_low {
    visibility: hidden;
}

/* adaptation aux differents appareils */
@media only screen and (max-width: 425px){
	.audio_player {
        padding: 20px;
    }
    .container_buttons span:nth-child(2) {
        margin-inline: 8%;
        width: 68px;
        min-width: 68px;
        height: 68px;
    }
    .container_buttons span:first-child, span:nth-child(3) {
        width: 58px;
        height: 58px;
        min-width: 58px;
    }
}

@media only screen and (max-height: 800px){
	.audio_player {
        padding-block: 25px;
    }
    .container_cover, .container_player {
        padding: 20px 20px;
        margin-bottom: 22px;
    }
    .container_cover {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .progress_bar {
        margin-top: 20px;
        margin-bottom: 16px;
    }
    .name {
        margin-top: 10px;
    }
    .container_cover img.cover {
        width: 90%;
    }
    .audio_player {
        background-position: -140px;
    }
    
    .audio_player::before {
        background-position: -140px;
    }
    .music_list ul {
        max-height: 192px;
    }
}

@media only screen and (max-height: 700px) and (min-width: 500px){
	.audio_player {
        padding-block: 25px;
    }
    .container_cover, .container_player {
        padding: 20px 25px;
        margin-bottom: 22px;
    }
    .container_cover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .progress_bar {
        margin-top: 20px;
        margin-bottom: 16px;
    }
    .name {
        margin-top: 0;
        margin-left: 10px;
        flex-direction: column;
    }
    .name h1:nth-child(2) {
        display: none;
    }
    .name h1 {
        margin-block: 5px;
    }
    .container_cover img.cover {
        width: 100%;
    }
    .audio_player {
        background-position: -50px;
    }
    
    .audio_player::before {
        background-position: -50px;
    }
    .music_list ul {
        max-height: 192px;
    }
}